

<div class="container">
  <form [formGroup]="form" class="form">
    <input type="text" formControlName="name" placeholder="Enter Your Name">
    <input (change)="onchange($event)" type="file" accept="image/*" placeholder="upload your Image">
     <textarea type="text" formControlName="message" placeholder="Enter Your message"></textarea>
      <input type="text" formControlName="yearsExperience" placeholder="Enter Your yearsExperience">
       <input type="text" formControlName="projectsDone" placeholder="Enter Your projectsDone">
       <div class="buttons">

         <button 
        type="button" 
        class="edit-btn" 
        *ngIf="!isEditMode"
        (click)="enableEdit()">
        Edit
      </button>

        <button 
        type="button" 
        class="save-btn" 
        *ngIf="isEditMode"
        (click)="save()">
        Save
      </button>


       </div>

  </form>
</div>